<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="title">Movies</div>
    </header>

     <div class="wrapper">
        <div class="postCustomController">
            <% if(movieData != null) { %>
            
                
            <% movieData.forEach(function(singleMovie, index) { %>
            <a href="/<%- singleMovie.id %>" class="movies__card">
                    <img src="<%- singleMovie.image %>" alt="<%- singleMovie.title %>">
                    <h2><%- singleMovie.title %></h2>
                    <p><%- singleMovie.id %></p>
                </a>
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/crud/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <%var pages = 15 %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/crud/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/crud/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
 </body>
</html>  