<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="title">Movies</div>
    </header>

    <div class="wrapper">
        <div class="mvii">
            <button onclick="history.back()" class="btn">Back</button>
                <% if(movieData != null) { %>
                    <h2><%- movieData.title.rendered %></h2>
                    <p><%- movieData.id.rendered %></p>
                    <img src="<%- movieData.image %>" alt="<%- movieData.title %>">
                    <h2><%- movieData.title %></h2>
                    <p>Movie id: <%- movieData.id %></p>
                    <p>Year: <%- movieData.year %></p>
                    <p>Crew: <%- movieData.crew %></p>
                    <p>Rating: <%- movieData.imDbRating %></p>
                    <p>Rating Count: <%- movieData.imDbRatingCount %></p>
                <% } else { %>
                    No posts found.
                <% } %>
            
        </div>
    </div>  
 </body>
</html>  